html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
body {
  /*background-image: url("images/fork_background.jpg");
  /*Full height
  height: 100%;
  width: 100%;
  /*Center and scale the image
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;*/
}

form {
  text-align: center;
}

h1 {
  color: tomato;
  font-size: 3.3em;
  text-align: center;
}

input, label {

  margin: auto;
}

label {
  color: tomato;
  font-size: 6em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
  color: tomato;
}

.button {
  height: 25px;
  border-radius: 4px;
  border: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

.ingredient {
  background-color: seashell;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.instruction {
  background-color: seashell;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#dinner-item {
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

#map {
  height: 50%;
  width: auto;
  margin: auto;
}

#meal-error-message {
  background-image: url("images/oops_potato.jpg");
  color: sienna;
  font-size: 3em;
  /*Full height*/
  height: 100%;
  width: 100%;
  /*Center and scale the image */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

@media all and (max-width: 519px){
  body {
    background-image: url("images/ingred.jpg");
    height: 100%;
    width: 100%;
    /*Center and scale the image*/
    background-position: center;
    background-size: cover;
  }
  video {
    display: none;
  }

}
@media all and (max-width: 699px) and (min-width: 520px) {
  body {
    background-image: url("images/ingred.jpg");
    height: 100%;
    width: 100%;
    /*Center and scale the image*/
    background-position: center;
    background-size: cover;
  }
  video {
    display: none;
  }

}
@media all and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-image: url("images/ingred.jpg");
    height: 100%;
    width: 100%;
    /*Center and scale the image*/
    background-position: center;
    background-size: cover;
  }
  video {
    display: none;
  }
}
@media all and (min-width: 1001px) {}
